<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC5 Test project by Jeroen Moerman</title>
    <meta name="description" content="My ASP.NET MVC5 Test project by Jeroen Moerman" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Test Project", null, "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rate Pictures", null, "Ratepicture")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET MVC5 Test project by Jeroen Moerman for presentation purpose</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @* JEMO : determine if the View has its own scriptfile. if so, manually add it and add a "release candidate" Querystring parameter with the last edit date of the file itself. *@
    @* this will trick the client browser into fetching the new scriptfile instead of the cached one since the url has changed, avoiding outdated cached script automatically *@
    @{String scriptPath = Server.MapPath("~/Scripts/ViewScripts/" + ViewBag.ViewEnvironment + "/" + ViewBag.ViewName + ".js");}
    @if (File.Exists(scriptPath))
    {
        <script src="@Url.Content("/Scripts/ViewScripts/" + ViewBag.ViewEnvironment + "/" + ViewBag.ViewName + ".js?rc=" + File.GetLastWriteTime(scriptPath))"></script>
    }






</body>
</html>
